body {
    background-color: black;
}


.l {
    color: antiquewhite;
    background-color: rgb(31, 30, 30);
    font-style: oblique;

}

#p {

    margin-left: 15px;
    margin-right: 150px;
    font-size: 30px;


}

.p {
    color: rgb(219, 129, 12);
}

.h {
    text-align: center;
    width: 100px;
    font-size: 20px;


}

.head {
    color: white;
    text-align: center;
    margin-top: 140px;


}


.pro {

    font-size: 20px;

}

#name {
    font-size: 45px;
}

.img {

    margin-top: 90px;
    border: 15px solid red;

    width: 300px;
    height: 300px;
}

.it {
    display: flex;
    justify-content: space-between;

    width: 900px;
    margin-left: 100px;

}

@media only screen and (max-width:1000px) {
    .it {
        display: inline;
        justify-content: center;




    }

    .head, .img {
        margin-top: 50px;
        text-align: center;
    }

}

.change-my-color {
    fill: green;
}



hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, red, rgb(183, 207, 94));
    margin: 20px 0;
    margin-top: 100px;
    margin-bottom: 80px;
}




.about{
    
    color: aliceblue;
    display: flex;
    justify-content:space-between;
    gap:100px;
margin-left: 100px;
max-width: 900px;
}

.abimg{
    width: 260px;
    height: 420px;
    
}



@media only screen and (max-width:1000px) {
    .about{
        display: inline;

    }
}
 
#skills{

    color:aliceblue;
    max-width: 80vw;
    margin: auto;
    

}


.hr{
    color: orange;
}


.project{
    color: aliceblue;
    display: flex;
    max-width: 70rem;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;

}



.pimg{
    max-height:13rem;
}




@media only screen and (max-width:1000px) {
    .project{
        display: inline;
        margin: auto;
        max-width: 30rem;
        
    }

    .card{
        margin: auto;
        margin-top: 45px;

    }
}



.resume{

    display: flex;
    justify-content: center;
    align-items: center;

}

.contact{
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin: auto;
     
    border: 2px orange solid;
    max-width: 70vh;
    border-radius: 20px;
    margin-bottom: 30px;
}

#message {
    width: 250px;
    height: 150px;
    background-color: rgb(94, 88, 88);
    color: white;
    outline: none;
    border-radius: 10px;

}

#email,#name{
    background-color: rgb(94, 88, 88);
    color: white;
    outline: none;
    border-radius: 3px;
    border: none;


}

#name{
    height: 24px;
    width: 33vh;
    font-size: 20px;
    font-style:normal;
}